# Copia este archivo a .env.local y reemplaza con tu clave real de OpenWeatherMap
OPENWEATHER_API_KEY=https://api.openweathermap.org/data/3.0/onecall?lat={lat}&lon={lon}&exclude={part}&appid={44122a8b41d29a71d32903135ae050dd}

# Cadena de conexión a Postgres. Ejemplo:
# DATABASE_URL=postgresql://usuario:password@localhost:5432/nombre_db
# Copia la línea anterior en `.env.local` y reemplaza con tus credenciales.
DATABASE_URL=
# Credenciales por defecto para pgAdmin (útil cuando usas docker-compose)
# PGADMIN_DEFAULT_EMAIL=admin@admin.com
# PGADMIN_DEFAULT_PASSWORD=admin

